<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div th:if="${!products.isEmpty()}">
        <h2 th:text="#{cart.title}"></h2>
        <div class="card" th:each="product : ${products.entrySet()}">                   
            <h3 th:text="#{product.serialnumber} + ': ' + ${product.getKey()}"></h3>
            <div class="text-align:center;">
	            <h4 style="display:inline;" th:text="#{product.quantity} + ': ' + ${product.getValue()}"></h4>
	            <button class="style="float:right; display:block;"">
	                <a th:href="@{'/cart/removeOneQuantity/{serialnumber}'(serialnumber=${product.getKey()})}" ><i class="fas fa-minus"></i></a>
	                <a th:href="@{'/cart/addOneQuantity/{serialnumber}'(serialnumber=${product.getKey()})}" ><i class="fas fa-plus"></i></a>
	            </button>
            </div> 
            <br>
        </div>
    </div>

    <div th:if="${products.isEmpty()}">
        <h2 th:text="#{cart.empty}"></h2>
    </div>

    <br>
    <a th:href="@{'/cart/clear/'}" class="col-md-1">
        <button type="button" class="btn btn-info" th:text="#{cart.clear}"></button>
    </a>

    <br>
    <div class="row">
        <h3 th:text="#{cart.total} + ' ' + ${totalPrice}"></h3>
        <a th:href="@{'/cart/checkout'}" class="col-md-1">
            <button type="button" class="btn btn-success" th:text="#{cart.checkout}"></button>
        </a>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>