<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">

		<form autocomplete="off" th:action="@{/distributorLogin}" class="form-signin" method="POST">
            <fieldset>
                <h3 th:text="#{login.sign_in}"></h3>
                <label th:text="#{user.email}"></label>
                <div class="form-group">
                    <input type="text" name="email" class="form-control input-lg" placeholder="" required="true" autofocus="true"/>
                </div>
                
                <label th:text="#{user.password}"></label>
                <div class="form-group">
                    <input type="password" name="password" class="form-control input-lg" placeholder="" required="true" />
                </div>
                    
				 <div class="form-group">
		         	<input class="form-control" type="hidden" th:value="${distr}" id="distr" name="distr"/>
		         </div>
	         <fieldset>
			 <input type="submit" value="Login">
		</form>
		        
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>
