<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header-css">
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="row">

   			<div class="center" th:if="${!products.isEmpty()}" sec:authorize="isAuthenticated()">
                <div class="card" th:each="product : ${products}">
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="admin">
                        <button class="btn">
                            <a th:href="@{'product/delete/' + ${product.getId()}}" ><i class="fas fa-times"></i></a>
                        </button>
                        <button class="btn">
                            <a th:href="@{'product/edit/' + ${product.getId()}}" ><i class="fas fa-wrench"></i></a>
                        </button>
                    </div>
                    
                    <img class="card-img-top" th:if="${!product.getImageUrl().isEmpty()}" th:src="${product.getImageUrl()}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${product.getName()}"></h4>
                        <p class="card-text" th:text="${product.getDescription()}"></p>   
                    </div>      
                    
                     <div class="card-footer">
		                <form th:action="@{/cart/add/}" th:object="${cartForm}" method="POST">
		                    <fieldset>		                                     
						       	<div>
									<label>Quantity (between 1 and 50):</label>
									<input type="number" id="quantity" name="quantity" min="1" max="50" required/>
						       	</div>
						      	<div>
			                       <label th:text="#{product.serialnumber} + '*'"></label>
			                       <input type="text" th:value="${serialnumber}" name="serialnumber" id="serialnumber" required/>
			                    </div>
			                    <div class="add-btn">
                                		<input type="submit" class="btn btn-lg btn-primary btn-block" th:value="#{product.add}" />
                        		</div>
		                    </fieldset>
		                  </form>  
		            </div>
                </div>
   			</div>
   			
   
           
                    
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>