<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h3 id="CustDet" th:text="#{user.title}"></h3>
        <br>

        <h5 th:text="#{user.email} + ': ' + ${user.getEmail()}"></h5>
        <h5 th:text="#{user.distributor} + ': ' + ${distributorUsername}"></h5>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>